<!doctype html>
<html ng-app="project">
  <head>
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-animate.min.js"></script>
    <script src="angular/angular-aria.min.js"></script>
    <script src="angular/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="angular/angular-material.min.js">
    <script src="angular/angular-resource.js"></script>
    <script src="angular/angular-ui-router.js"></script>
	
	<script src="angular/ngClipboard.js"></script>

    <script src="jquery/jquery.min.js"></script>
    <script src="github-client/lib/base64.js"></script>
    <script src="github-client/lib/underscore-min.js"></script>
    <script src="github-client/github.js"></script>

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body>
    <script src="project.js"></script>
    <script src="project-list.js"></script>
    <script src="default-config.js"></script>
    <script src="user.js"></script>
  </head>
  <body>
    <h2>JavaScript Projects</h2>
    
    <div ng-controller="ProjectListController">
      <div flex="100">
         <md-content class="md-padding">
		 <md-button ng-click="saveConfig()" class="md-raised md-primary">Save Config</md-button>
           <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-click="goto('algos')" name="algos">
              Algos
            </md-nav-item>
            <md-nav-item md-nav-click="goto('pools')" name="pools">
              Pools
            </md-nav-item>
			<md-nav-item md-nav-click="goto('ports')" name="ports">
              Ports
            </md-nav-item>
			<md-nav-item md-nav-click="goto('addresses')" name="addresses">
              Addresses
            </md-nav-item>
			<md-nav-item md-nav-click="goto('coins')" name="coins">
              Coins
            </md-nav-item>
            <md-nav-item md-nav-click="goto('miners')" name="miners">
              Miners
            </md-nav-item>
            <md-nav-item md-nav-click="goto('runs')" name="run">
              Runs
            </md-nav-item>
          </md-nav-bar>
		  <div flex-gt-sm="100" flex ng-show="algosView">
            <div ng-show="algosList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="algo">
                    Algos
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Algo" ng-click="getAlgo()">
                    New Algo
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in algos">
                    <div class="md-list-item-text" ng-click="getAlgo(item.id)">
                      <h3> Name : {{item.name}}</h3>
                      <md-button class="md-secondary" ng-click="getAlgo(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="algoDetail">
              <md-content layout-padding>
                <div>
                  <form name="algoForm">
                    <input type="hidden" ng-model="algo.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>algo name</label>
                        <input ng-model="algo.name">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>algo port</label>
                        <input ng-model="algo.url" type="number">
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveAlgo()" class="md-raised md-primary">Save Algo</md-button>
                    <md-button ng-click="cancelAlgo()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
           <div flex-gt-sm="100" flex ng-show="poolsView">
            <div ng-show="poolsList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="Pool">
                    Pools
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Pool" ng-click="getPool()">
                    New Pool
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in pools">
                    <div class="md-list-item-text" ng-click="getPool(item.id)">
                      <h3> Name : {{item.name}}</h3>
                      <p>URL : {{item.url}}</p>
                      <p>No -a : <span ng-if="item.a == '' || item.a == null || item.a == 'N'">No</span><span ng-if="item.a == 'Y'">Yes</span></p>
                      <md-button class="md-secondary" ng-click="getPool(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="poolDetail">
              <md-content layout-padding>
                <div>
                  <form name="poolForm">
                    <input type="hidden" ng-model="pool.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Pool name</label>
                        <input ng-model="pool.name">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Pool url</label>
                        <input ng-model="pool.url">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-checkbox ng-model="pool.a" aria-label="No -a" ng-true-value="'Y'" ng-false-value="'N'">
                        No -a
                      </md-checkbox>
                    </div>
                    <md-button ng-click="savePool()" class="md-raised md-primary">Save Pool</md-button>
                    <md-button ng-click="cancelPool()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
		  <div flex-gt-sm="100" flex ng-show="portsView">
            <div ng-show="portsList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="port">
                    Ports
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Port" ng-click="getPort()">
                    New Port
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in ports">
                    <div class="md-list-item-text" ng-click="getPort(item.id)">
                      <p>Port : {{item.port}}</p>
                      <md-button class="md-secondary" ng-click="getPort(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="portDetail">
              <md-content layout-padding>
                <div>
                  <form name="portForm">
                    <input type="hidden" ng-model="port.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>port</label>
                        <input ng-model="port.port" type="number">
                      </md-input-container>
                    </div>
                    <md-button ng-click="savePort()" class="md-raised md-primary">Save Port</md-button>
                    <md-button ng-click="cancelPort()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
		  <div flex-gt-sm="100" flex ng-show="addressesView">
            <div ng-show="addressesList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="address">
                    Addresses
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Address" ng-click="getAddress()">
                    New Address
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in addresses">
                    <div class="md-list-item-text" ng-click="getAddress(item.id)">
                      <p>Address : {{item.address}} ({{Config.getCoin(item.coinId).name}})</p>
                      <md-button class="md-secondary" ng-click="getAddress(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="addressDetail">
              <md-content layout-padding>
                <div>
                  <form name="addressForm">
                    <input type="hidden" ng-model="address.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>address address</label>
                        <input ng-model="address.url" type="number">
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveAddress()" class="md-raised md-primary">Save Address</md-button>
                    <md-button ng-click="cancelAddress()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
		  <div flex-gt-sm="100" flex ng-show="coinsView">
            <div ng-show="coinsList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="Coin">
                    Coins
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Coin" ng-click="getCoin()">
                    New Coin
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in coins">
                    <div class="md-list-item-text" ng-click="getCoin(item.id)">
                      <h3> Name : {{item.name}}</h3>
					  <h3> Full Name : {{item.fullName}}</h3>
                      <md-button class="md-secondary" ng-click="getCoin(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="coinDetail">
              <md-content layout-padding>
                <div>
                  <form name="coinForm">
                    <input type="hidden" ng-model="coin.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Coin name</label>
                        <input ng-model="coin.name">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Coin Full Name</label>
                        <input ng-model="coin.fullName">
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveCoin()" class="md-raised md-primary">Save Coin</md-button>
                    <md-button ng-click="cancelCoin()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
          <div flex-gt-sm="100" flex ng-show="minersView">
            <div ng-show="minersList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="miner">
                    Miners
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Miner" ng-click="getMiner()">
                    New Miner
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in miners">
                    <div class="md-list-item-text" ng-click="getMiner(item.id)">
                      <h3> Name : {{item.name}}</h3>
                      <p>Path : {{item.path}}</p>
                      <md-button class="md-secondary" ng-click="getMiner(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="minerDetail">
              <md-content layout-padding>
                <div>
                  <form name="minerForm">
                    <input type="hidden" ng-model="miner.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Miner name</label>
                        <input ng-model="miner.name">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Miner url dl</label>
                        <input ng-model="miner.url">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Miner path</label>
                        <input ng-model="miner.path">
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveMiner()" class="md-raised md-primary">Save Miner</md-button>
                    <md-button ng-click="cancelMiner()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
          <div flex-gt-sm="100" flex ng-show="runsView">
            <div ng-show="runsList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="run">
                    Runs
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Run" ng-click="getRun()">
                    New Run
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in runs">
                    <div class="md-list-item-text">
					<md-content flex layout-padding ng-copyable>
					:loop
					<br/>
                    %USERPROFILE%\Downloads\{{Config.getMiner(item.minerId).path}} <span ng-if="Config.getPool(item.poolId).a!='N'">-a m7m<span> -o stratum+tcp://{{Config.getPool(item.poolId).url}}:{{Config.getPort(item.portId).port}} -u {{Config.getAddress(item.addressId).address}}.%COMPUTERNAME% -p c={{Config.getCoin(item.coinId).name}}
                    <br/>
					timeout /T 10
					<br/>
					goto loop
					</md-content>
					
                      <md-button class="md-secondary" ng-click="getRun(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="runDetail">
              <md-content layout-padding>
                <div>
                  <form name="runForm">
                    <input type="hidden" ng-model="run.id" />
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Algo</label>
						<md-select ng-model="run.algoId">
							<md-option ng-repeat="item in algos" ng-value="item.id">
							{{item.name}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Pool</label>
						<md-select ng-model="run.poolId">
							<md-option ng-repeat="item in pools" ng-value="item.id">
							{{item.name}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Port</label>
						<md-select ng-model="run.portId">
							<md-option ng-repeat="item in ports" ng-value="item.id">
							{{item.port}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Address</label>
						<md-select ng-model="run.addressId">
							<md-option ng-repeat="item in addresses" ng-value="item.id">
							{{item.name}} {{address.address}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Coin</label>
						<md-select ng-model="run.coinId">
							<md-option ng-repeat="item in coins" ng-value="item.id">
							{{item.name}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
					<div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Miner</label>
						<md-select ng-model="run.minerId">
							<md-option ng-repeat="item in miners" ng-value="item.id">
							{{item.name}}
							</md-option>
						</md-select>
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveRun()" class="md-raised md-primary">Save Run</md-button>
                    <md-button ng-click="cancelRun()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
      </md-content>
      </div>
     
    </div>
    <script>


    </script>
  </body>
</html>