<!doctype html>
<html ng-app="project">
  <head>
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-animate.min.js"></script>
    <script src="angular/angular-aria.min.js"></script>
    <script src="angular/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="angular/angular-material.min.js">
    <script src="angular/angular-resource.js"></script>
    <script src="angular/angular-ui-router.js"></script>

    <script src="jquery/jquery.min.js"></script>
    <script src="github-client/lib/base64.js"></script>
    <script src="github-client/lib/underscore-min.js"></script>
    <script src="github-client/github.js"></script>

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body>
    <script src="project.js"></script>
    <script src="project-list.js"></script>
    <script src="default-config.js"></script>
    <script src="user.js"></script>
  </head>
  <body>
    <h2>JavaScript Projects</h2>
    
    <div ng-controller="ProjectListController">
      <div flex="20"></div>
      <div flex="50">
         <md-content class="md-padding">
           <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('pools')" name="pools">
              Pools
            </md-nav-item>
            <md-nav-item md-nav-click="goto('algos')" name="algos">
              Algos
            </md-nav-item>
            <md-nav-item md-nav-click="goto('miners')" name="miners">
              Miners
            </md-nav-item>
            <md-nav-item md-nav-click="goto('config')" name="config">
              Config
            </md-nav-item>
          </md-nav-bar>
           <div flex-gt-sm="100" flex ng-show="poolsView">
            <div ng-show="poolsList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="Pool">
                    Pools
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Pool" ng-click="getPool()">
                    New Pool
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in algos">
                    <div class="md-list-item-text" ng-click="getPool(item.id)">
                      <h3> Name : {{item.name}}</h3>
                      <p>URL : {{item.url}}</p>
                      <p>No -a : {{item.a}}</p>
                      <md-button class="md-secondary" ng-click="getPool(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="poolDetail">
              <md-content layout-padding>
                <div>
                  <form name="poolForm">
                    <input type="hidden" ng-model="pool.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Pool name</label>
                        <input ng-model="pool.name">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Pool url</label>
                        <input ng-model="pool.url">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-checkbox ng-model="pool.a" aria-label="No -a" ng-true-value="'Y'" ng-false-value="'N'">
                        No -a
                      </md-checkbox>
                    </div>
                    <md-button ng-click="savePool()" class="md-raised md-primary">Save Pool</md-button>
                    <md-button ng-click="cancelPool()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
          <div flex-gt-sm="100" flex ng-show="algosView">
            <div ng-show="algosList">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <md-button aria-label="algo">
                    Algos
                  </md-button>
                  <span flex></span>
                  <md-button class="md-raised" aria-label="New Algo" ng-click="getAlgo()">
                    New Algo
                  </md-button>
                </div>
              </md-toolbar>
              <md-content>
                <md-list flex>
                  <md-list-item class="md-2-line" ng-repeat="item in algos">
                    <div class="md-list-item-text" ng-click="getAlgo(item.id)">
                      <h3> Name : {{item.name}}</h3>
                      <p>URL : {{item.port}}</p>
                      <md-button class="md-secondary" ng-click="getAlgo(item.id)">Edit</md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
            <div ng-show="algoDetail">
              <md-content layout-padding>
                <div>
                  <form name="algoForm">
                    <input type="hidden" ng-model="algo.id" />
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>algo name</label>
                        <input ng-model="algo.name">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>algo port</label>
                        <input ng-model="algo.url" type="number">
                      </md-input-container>
                    </div>
                    <md-button ng-click="saveAlgo()" class="md-raised md-primary">Save Algo</md-button>
                    <md-button ng-click="cancelAlgo()" class="md-raised md-warn">Cancel</md-button>
                  </form>
                </div>
              </md-content>
            </div>
          </div>
        <div flex-gt-sm="100" flex ng-show="configView">
          config
        </div>
      </md-content>
      </div>
     
    </div>
    <script>


    </script>
  </body>
</html>